body{
	background-color:lightgray
}

h1{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:30;
	color:red;
	font-weight: bold;
	text-indent:25;
	text-align: center;
}

h2{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:30;
	color:red;
	font-weight: bold;
	text-indent:25;
	text-align: center;
}

p{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:25;
	color:green;
	text-align: justify;
	text-indent:25;
}

a{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:blue;
	text-decoration:none;
}*/